* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul { display: flex;
list-style-type: none;
background-color: blueviolet;
overflow: hidden;
}

li {
   
}

li a {
    font-size: 25px;
color: white;
text-decoration: none;
text-align: center;
padding: 0.8rem 4rem;
display: inline-block;
}

.dropdown-content {
   display:none;
    border-bottom-right-radius: 150px;
position: absolute;
background-color: blueviolet;
min-width: 20vw;

box-shadow: 0rem 0.5rem 1rem 0rem rgba(black, white, white, white);
z-index: 1;
}


.dropdown-content a {
    color: white;
    padding: 0.8rem 1rem;
    display: flex; 
    text-align: left;
}

.dropdown:hover .dropdown-content {
display: flex;
flex-direction: column;
}

.dropdown-content .hulp{
display: flex;

}

.dropdown-content:hover .hulp{
display: flex;
flex-direction: column;
color: black;
}

body {
    background-color: black;
}
