.stage {
position: relative;
cursor: pointer;
background-color: black;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
overflow: hidden;
background-color: black;
}

.bannersize{
width: 300px;
height: 250px;
background-color: black;
}
img:first-of-type{
position: absolute;
left: 90px;
top: 50px;
}
button:first-of-type {
  display: inline-block;
  background: #55559f;
  color: white;
  text-decoration-line: none;
  max-width: 200px;
  width: 130px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: white;
  position: absolute;
    left: 200px; 
  top: 275px;
  }
    

    *{color: white;}

body{
  background-color: black;
}
  img{position: absolute;
  right: 250px;
    left: 200px;
    top: 30px;
  }
.color-container {
  position: absolute;
      display: flex;
      gap: 5px;
      margin: 1px;
    }

    .color-box {
      width: 25px;     
      height: 15px;    
      border-radius: 5px;
    }

    .color1 { background-color: #9000ff; }
    .color2 { background-color: #55559f; }
    .color3 { background-color: #b0b0eb; }

    .cirkel {
       width: 150px; 
      height: 75px; 
      background-color: #55559f; 
      border-radius: 50%; 
      position: relative;
      left: 180px;
      bottom: 20px;
    }
    



  