.stage {  
    position: relative;
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
   overflow: hidden;    
}

.bannerSize{ 
width: 250px; 
height: 970px; 
}

img:first-of-type{
position: absolute;
left: 200px;
top: 50px; }

img {
position: absolute;
left: 300px;
top: 100px;
}
h1 {
    font-size: 75px;
}
p {
font-size: 25px;
}
li {position: relative;
left: 500px;
bottom: 150px;
font-size: 25px;
}

*{
    color: white;
    background-color: black;
}

.color-container {
  position: absolute;
      display: flex;
      gap: 5px;
      margin: 1px;
    }

    .color-box {
      width: 25px;     
      height: 15px;    
      border-radius: 5px;
    }

    .color1 { background-color: #9000ff; }
    .color2 { background-color: #55559f; }
    .color3 { background-color: #b0b0eb; }

    button:first-of-type {
  display: inline-block;
  background: #55559f;
  color: white;
  text-decoration-line: none;
  max-width: 200px;
  width: 130px;
  padding: 35px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: white; 
position: absolute;
right: 700px;
top: 170px;
}
.circle{ width: 200px; 
      height: 250px; 
      background-color: #55559f; 
      border-radius: 50%; 
      position: relative;
      bottom: 325px;
      left: 800px;
    }